#header{
   
    width: 100%;
    height: 100px;
   display: flex;
    background-color: #142d46;
    color: #fff;
    
   
}
.header-search{
    width: 500px;
    height: 40px;
    margin-top:30px;
    position: absolute;
    right: 40px;
    font-size:16px;
    background-color:black;
    border-radius:5px;
    border: 1px solid #fff;
    color: #fff;
}
.header-search:focus{
    border: 1px solid green;
}
.header-title{
    cursor: pointer;
    text-transform: uppercase;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    padding: 28px;
    margin: 0;
}
#menu{
    width: 100%;
    height: 50px;
    background-color: black;
    border: 1px solid #1a3a5a;
    
  
}
#content{
    display: flex;
   
    border: 1px solid #1a3a5a;
    
}
#left-content{
    width: 20%;
    background-color: #030303;
    height: 1000px;
    border: 1px solid #1a3a5a;
}

#footer{
    position: absolute;
    top:1157px;
    width: 100%;
    background-color: #030303;
    height: 200px;
    border: 1px solid #1a3a5a;
    color: #fff;
}
.main{
    color: #030303;
    text-align: center;
    font-size:22px;
    

}
.footer-title{
    text-transform: uppercase;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size:35px;
    padding :40px 0 10px 40px;
    margin: 0;
    
}
.footer-subtitle{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    padding: 0px 40px;
    margin: 0;
}
.footer-description{
    font-size:16px;
    padding: 20px;
}
.footer-icon-item{
    font-size:20px;
    padding:0 20px;
    cursor: pointer;
}
.tab-menu{
    list-style: none;
    display:flex;
    line-height: 50px;
    margin: 0;
    
}
.item{
    
    width: 100%;
    color:#abb7bf;
    text-decoration: none;
    cursor:pointer;
    font-size:18px;
    border: 1px solid #1a3a5a;
    
}
@keyframes color {
    from { background-color:#030303}
    to { background-color:#fff}
    
}
.item:hover{
    animation:color 2s ease;
   

    color: black ;
}
#left-content .item:active #right-content{
    display:none;

}
.side-menu{
    list-style: none;
    line-height: 150px;
}
#right-content{
    width: 80%;
    background-color: #030303;
    height:1000px;
    display: flex;

}
.film-content{
    
    color: black;
    display: flex;
}
.film-item{
    width:30%;
    margin:40px 150px;
    color: #fff;
}
.film-title{
    font-size:20px;
}
.film-image{
    padding:20px 0;
    height:300px;
    cursor: pointer;
}
.film-image:hover{
    
    animation: image 2s ease-in-out;
}
@keyframes image{
    from{height:300px;}
    to{height:400px;}
}
@keyframes image2{
    from{height:500px;}
    to{height:600px;}
}
.film-description{
    font-size:15px;
}
.film-btn{
    font-size: 20px;
}
.film-btn:hover{
    color: #fff;
    background-color: red;
    cursor: pointer;
}
.film-item-description{
    color:#fff;
    display:flex;
}
.film-image-description{
    height:500px;
    padding:100px 100px;
}
.film-image-description:hover{
    animation:image2 2s ease-in-out;
}

.film-description-block{
    text-align:left;
}
.film-title-description{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
    cursor: pointer;
}
.film-description-description{
    width: 1000px;
}
.film-title-describ{
    color: rgb(171,183,196);
    

}
.film-episode{
    border-top: 1px solid rgb(64,82,102);
    border-bottom: 1px solid rgb(64,82,102);
    
}
.film-ep:hover{
    color: #fff;
    background-color:red;
}
.film-ep{
    margin: 20px 0;
    font-size:22px;
    height:40px;
    width:40px;
    cursor: pointer;
}
.film-items{
    display:flex;
    margin: 0;
    font-size:18px;
}
.film-infor-lower{
  color: #abadb9;
  
}


.film-star{
    height:300px;
}
@media only screen and (max-width: 768px){
    #left-content{
        display: none;
    }
    #right-content{
        width: 100%;
    }
 }